.is-invalid {
	border-left: solid 6px red;
  }
  
  .heading{
	font-size: 22px;
    color: #F49A22;
	font-weight: 700;
	padding-bottom: 2%;
}
  .material-icons {
	display: inline-flex;
	vertical-align: middle;
  }