.w-100{
	width:98% !important;
}

.err {
	color:#B00020;font-weight: bold;font-size: 12px;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
	background-color:#F49A22
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color:  #F49A22
}    
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color:  #F49A22
}


.mat-form-field-underline {
	display: none;
  }
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex{
	  background:#E0E0E0;
}