<div class="modal-body profile-update">

	<br />


	<div class="container-fluid">
		<div class="row padding-lr-0">

			<div class="col-xl-12 col-md-12 col-sm-12" style="">
				<div class="row">
					<!-- Enter current password -->
					<div class="mb-20 w-100">
					
						<label>{{ 'Profile.enter_current_password' | translate}}</label>
						<input type="password" class="form-control" [(ngModel)]="current_password">
					</div>
					<div *ngIf="data.password != current_password">
						<p class="err"> {{ 'Profile.confirm_your_current_password_first' | translate}} </p>
					</div>
					<!-- Enter new password -->
					<div class="mb-20 w-100">
						<label> {{ 'Profile.enter_new_password' | translate}}  </label>
						<input type="password" class="form-control" [(ngModel)]="new_password" [disabled]="data.password!=current_password" (keyup)="newPasswordValidator()">
					</div>
					<div >
						<p class="err"> {{ password_validation_message}}</p>
						
					</div>
					
					<!-- Enter confirm password -->
					<div class="mb-20 w-100">
						<label>{{ 'Profile.confirm_password' | translate}} </label>
						<input type="password" class="form-control" [(ngModel)]="confirm_password" [disabled]="data.password!=current_password || new_password?.length <4" >
					</div>
					<div *ngIf="new_password!=confirm_password">
						<p class="err"> {{ 'Profile.confirm_with_new_password' | translate}}</p>
						
					</div>
					
				</div>



			</div>

		</div>

	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-info"  (click)="updatePassword()" [disabled]="new_password!=confirm_password || current_password!=data.password">{{ 'Profile.upate_password' | translate}}</button>
	<a href="javascript:void(0)" matTooltip="" matTooltipPosition="below"
		(click)="close()"> {{ 'Profile.close' | translate}} </a>
</div>