<ngx-spinner color = "#f49823" type = "ball-clip-rotate-pulse" size="medium" [fullScreen] = "true"   ><p style="color: white;">Please Wait..</p></ngx-spinner>
<div class="modal-header no-flex">
    <div class="d-flex">
        <div class="sub-header-l offset-left-80">
            <img src="{{globalValue.app_logo}}" class="offset-left-24" alt=""><br />
            <h1
                [ngStyle]="globalValue.app_logo == '../../../../assets/images/jagajag_logo_with_bangla_text.png' ? {'margin-left': '5%'} : {'margin-left': '0'}">
                {{'HostMeeting.onestop_comm' | translate}}</h1>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeDialog()"
            matTooltip="{{'HostMeeting.cancel' | translate}}" matTooltipPosition="below">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <!-- <h4 class="modal-title mb-20">{{'HostMeeting.host_meeting' | translate}}</h4> -->
    <div class="container-flied">
        <div class="row">
            <div class="col-xl-12 col-sm-12">
                <h4 class="modal-title" style="font-size: 18px; margin: 10px 0 8px 0;">
                    {{'HostMeeting.meeting_info' | translate}}</h4>
            </div>
            <div class="col-xl-12 mb-10">
                <div class="input-group mb-10">
                    <label style="margin-top: 3px;
					font-size: 18px;
					width: 16%;">{{'HostMeeting.host' | translate}}:</label>
                    <div style="background-color: #e9ecef;
						padding: 1% 2% 1% 2%;">{{email}}</div>
                </div>
                <div class="input-group">
                    <label style="margin-top: 10px;
					font-size: 18px;
					width: 16%;">{{'HostMeeting.topic' | translate}}:</label>
                    <input type="text" class="form-control"
                        placeholder="{{'HostMeeting.meeting_discuss_topic' | translate}}"
                        [(ngModel)]="addMeetingScheduleModel.meeting_name"
                        matTooltip="{{'HostMeeting.meeting_discuss_topic' | translate}}" matTooltipPosition="above">
                </div>
            </div>
            <div class="col-xl-12 col-sm-12">
                <h4 class="modal-title" style="font-size: 18px; margin: 20px 0 8px 0;">
                    {{'HostMeeting.meeting_scheduling' | translate}}</h4>
            </div>
            <div class="col-xl-4 col-sm-12 mb-10">

                <div class="input-group">
                    <div class="input-group-prepend w-100">
                        <mat-datepicker-toggle class="mat-btn-toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <input class="form-control" matInput [matDatepicker]="picker"
                            placeholder="{{'HostMeeting.meeting_date' | translate}}" min="{{dateNow}}"
                            value="{{dateNow}}" (dateChange)="datePickerEvent($event.target.value);"
                            matTooltip="{{'HostMeeting.meeting_date' | translate}}" matTooltipPosition="below">
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 mb-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text timepicker" id="basic-addon1" darktheme="true"><i
                                class="far fa-clock"></i></span>
                    </div>
                    <input id="Start_Time" placeholder="{{'HostMeeting.meeting_start' | translate}}"
                        [value]="startTimePickerUIBind" class="form-control" aria-label="12hr format"
                        [ngxTimepicker]="min" [min]="min_start_time"
                        matTooltip="{{'HostMeeting.meeting_start' | translate}}" matTooltipPosition="below">
                    <ngx-material-timepicker #min (timeSet)="timeSelector($event, 'start_time')">
                    </ngx-material-timepicker>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 mb-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text timepicker" id="basic-addon1" darktheme="true"><i
                                class="far fa-clock"></i></span>
                    </div>
                    <input id="End_Time" placeholder="{{'HostMeeting.meeting_end' | translate}}"
                        [value]="endTimePickerUIBind" [min]="min_end_time" class="form-control" aria-label="12hr format"
                        [ngxTimepicker]="fullTime" [format]="12" matTooltip="{{'HostMeeting.meeting_end' | translate}}"
                        matTooltipPosition="below">
                    <ngx-material-timepicker #fullTime (timeSet)="timeSelector($event, 'end_time')">
                    </ngx-material-timepicker>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="closeDialog()"
        matTooltip="{{'HostMeeting.cancel' | translate}}"
        matTooltipPosition="below">{{'HostMeeting.cancel' | translate}}</button>
    <button type="button" style="    padding: .375rem 1rem;" class="btn btn-info" (click)="addBoxMeetingSchedule()"
        matTooltipPosition="below">{{'HostMeeting.save_schedule' | translate}}</button>
</div>

<!-- Host Your Meeting -->