<div style="background-color: #ffffff;;">
    <div id="scrolltop_teamTogether"></div>
    <!-- header-start -->
     <!-- <header>
        <div class="header-area teamToG">
            <div id="sticky-header" class="main-header-area nav-bg-home">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-home">
                        <a style="margin-top: 13px;" class="navbar-brand logo-img mr-20">
                            <img src="../../assets/images/learntogether/Login/teamTogether/Team Together Logo.png"
                                alt="">
                        </a>
                    
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Solutions
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item">Lorem ipsum</a>
                                        <a class="dropdown-item">Lorem ipsum</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Plans & Pricing</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Resources
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item">Lorem ipsum</a>
                                        <a class="dropdown-item">Lorem ipsum</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Contact Us</a>
                                </li>
                            </ul>
                            <div class="m-hr"></div>

                            <div class="btn-group btn-group-toggle mr-20" data-toggle="buttons">
                                <label class="btn bg_white active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> EN
                                </label>
                                <label class="btn bg_white">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> BN
                                </label>
                            </div> 

                            <div id="btn-search" class="btn-group">
                                <a class="mr-20"><i class="is i-search size-lg"></i></a>
                            </div> 
                          
                             <button class="btn btn-primary mr-20" type="submit">Register</button>
                            <a class="mr-20"><strong>Login</strong></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>  -->
    <!-- header-end -->
    <!-- Search Start -->
    <!-- <div id="search_area">
        <div class="container">
            <div class="input-group mb-3">
                <input type="text" class="form-control search_input" placeholder="Search..." aria-label="Search..."
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Search-end -->
    <!-- main-content start -->
   
    <div style="padding-top: 5%;" class="container">
        <div class="row">
            <div class="col-sm-4">
                <div style="padding-top: 22%; width: 94%;">
                    <div class="learn_together text-center">Team Together</div>
                    <div class="online_learning_platform text-center">Safe, Aware & Connected</div>
                    <img style="width: 100%;"
                        src="../../assets/images/learntogether/Login/teamTogether/Vector Illustration.png" alt="">
                    <p class="paragraph_cls" style="margin-top: 15px; margin-bottom: 22px;">Collaborate with your team on the go via our App
                        or monitor and interact with them on our Desktop Browser Dispatch</p>
                    <div class="text-center">
                        <img src="../../assets/images/learntogether/Login/Playstore Btn.png" alt="">&nbsp;
                        <img src="../../assets/images/learntogether/Login/Google Chrome Btn.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="text_center" style="margin-top: 2%;width: 94%;">
                    <div class="live_interactive_lecture text-center">Always-On-Mission-Critical</div>
                        <div class="live_interactive_lecture text-center">and Enterprise
                            Communications</div>
                    <div class="secure_enterprise text-center">Empowering Field And Teams Operations </div>


                    <ul class="list_item">
                        <span style='font-size:40px;'></span>
                        <li class="text_des display_inline_flex">Integrated Audio, Video, Push-To-Talk, Dispatch, Text,
                            Location, and Alerting keep Teams always in Touch.</li>
                        <li class="text_des display_inline_flex">Deliver the Right Information to the Right People at
                            the Right Time. </li>
                        <li class="text_des display_inline_flex">Increase Clarity and Situational Awareness, allowing
                            better decision making with real-time information at the team's fingertips. </li>
                        <li class="text_des display_inline_flex">Improve Response Time and Increase Safety for Mobile
                            Geographically Dispersed Personnel on the Field. </li>
                        <li class="text_des display_inline_flex">Enhance Productivity by allowing personnel to
                            communicate instantaneously asking for assistance for resolving questions without having to
                            wait. </li>
                        <li class="text_des display_inline_flex">Back-end Dispatchers with a clear picture of the whole
                            situation can coordinate teams better by locating closest resources and by guiding
                            front-line personnel to work together seamlessly. </li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-4 right_section_BG">
                <div style="margin-top: 8%;">
                    <div class="right_section_header">Click to view Team Together in Action</div>
                    <div style="margin-top: 18px;">
                        <img style="width: 100%;" src="../../assets/images/learntogether/Login/teamTogether/Video Image.png"
                            alt="">
                    </div>
                    <div class="learn_together_text">
                        <!-- To access Learn Together with your jagajag account, please contact with us -->
                        Access Team Together with your Jagajag Account
                    </div>
                    <div style="margin-top: 15%;">
                        <form action="">
                            <div class="panel-body">
                                <div style="width: 100%">
                                    <span style="position: absolute;">
                                        <img class="imageIcon"
                                            src="../../assets/images/learntogether/Login/username_icon_Default.png"
                                            alt="userIconImage">
                                    </span>
                                    <input type="text" name="user_name" id="user_name" class="form-control input-sm"
                                        placeholder="USERNAME" required>
                                </div>

                                <div style="width: 100%; margin-top: 10px">
                                    <span style="position: absolute;">
                                        <img class="imageIcon"
                                            src="../../assets/images/learntogether/Login/password_icon_Default.png"
                                            alt="passIconImage">
                                    </span>
                                    <span class="password_toggle" title="Show password">
                                        <img style="width: 25px"
                                            src="../../assets/images/learntogether/Login/passwordShowEyeIcon.png">
                                    </span>
                                    <input style="padding-right:10%" type="password" name="password" id="password"
                                        class="form-control input-sm" placeholder="PASSWORD" required>
                                </div>
                                <div>
                                    <span class="forgot-password">Forgot Password ? </span>
                                </div>

                                <div class="login_part">
                                    <div style="text-align: center;margin-top: 55px;">
                                        <button (click)="contactWithUs()" class="login_Btn" type="submit">
                                            LOGIN</button>
                                    </div>
                                </div>
                                <div style="margin-top: 14px;">
                                    <span class="have_account">
                                        Don't have an account?
                                    </span>
                                    <span class="signup_now">Signup Now</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="" style="height: 600px;">
        <div class="" style="padding-top: 4%">
            <div class="">
                <div style="padding-bottom: 4%;" class="section_title text-center">
                    <div class="our_features">OUR FEATURES </div>
                    <div class="team_together">TEAM TOGETHER</div>
                </div>
                <div class="" style="width: 100%;">
                    <div style="width: 20%;float: left;" class="">
                        <div class="card_items">
                            <div class="items_icon text-center">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Push to Talk Icon.png"
                                    alt="">
                            </div>
                            <div class="card_info text-center">
                                <h3 class="item_header">Push-To-Talk</h3>
                                <p class="item_des">Extend office-bound enterprise collaboration to the field workforce,
                                    by combining group and channel workstreams with operational
                                    Push-to-Talk communications
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 20%;float: left;" class="">
                        <div class="card_items">
                            <div class="items_icon text-center">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Chat Icon.png" alt="">
                            </div>
                            <div class="card_info text-center">
                                <h3 class="item_header">Conferencing</h3>
                                <p class="item_des">Empower your team with Workstream Collaboration via persistent Chat
                                    Channels, Pictures, Video or Files upload and integrated Phone Calling And Video
                                    Conferencing Experience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 20%;float: left;" class="">
                        <div class="card_items">
                            <div class="items_icon text-center">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Notification Icon.png"
                                    alt="">
                            </div>
                            <div class="card_info text-center">
                                <h3 class="item_header ">Alerts</h3>
                                <p class="item_des">Enhance workforce safety through pre-defined or adhoc alerts of
                                    different severities. Delivered in-App or via
                                    Device push, SMS, Email or Calls
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 20%;float: left;" class="">
                        <div class="card_items">
                            <div class="items_icon text-center">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Location Icon.png"
                                    alt="">
                            </div>
                            <div class="card_info text-center">
                                <h3 class="item_header">Tracking</h3>
                                <p class="item_des">Enhance Safety through tracking of workforce locations. Balance
                                    privacy with safety with the choice of Passive Location Tracing or manual
                                    location Check-In.</p>

                            </div>
                        </div>
                    </div>
                    <div style="width: 20%;float: left;" class="">
                        <div class="card_items">
                            <div class="items_icon text-center">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Task Icon.png" alt="">
                            </div>
                            <div class="card_info text-center">
                                <h3 class="item_header">Tasks</h3>
                                <p class="item_des">Manage Workforce by manual task-assignment or voluntary
                                    self-assignment from task queue.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-end -->
</div>

<!-- footer start -->
<!-- <footer class="footer">
    <div class="container-fluid">
        <div class="footer_top">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a class="">
                                <img src="../../assets/images/learntogether/Login/teamTogether/Team Together Logo.png"
                                    alt="">
                            </a>
                            <a style="
                            font-size: 16px;
                            font-weight: 500;color: #F49A22;"> Learn Together</a>
                        </div>
                        <div style="margin-bottom: 13px;">
                            <span style="font-size: 14px; color: white;">
                                Safe, Aware & Connected
                            </span>

                        </div>
                        <div class="footer_address">
                            <p>
                                +880 1701 64 48 79<br />
                                info@jagajag.com.bd<br />
                                53, Purana Polton (2nd Floor)<br />
                                Dhaka 1200, BD
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <div class="footer_title">
                            Our Solutions
                            <span></span>
                        </div>
                        <ul>
                            <li><a>Online Meetings - Jagajag</a></li>
                            <li><a>E-Learning - Learn Together</a></li>
                            <li><a>Security Communications - Protect Together</a></li>
                            <li><a> Family Connectivity - Alert Family</a></li>
                            <li><a>Online Healthcare - Medi Connect</a></li>
                            <li><a>Screen Sharing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <div class="footer_title">
                            Support & Services
                            <span></span>
                        </div>
                        <ul>

                            <li><a>Support Center</a></li>
                            <li><a>Community Feedback</a></li>
                            <li><a>Privacy & Security</a></li>

                            <li><a href="#">Join a test meeting</a></li>
                            <li><a href="#">Webinars & Events</a></li>
                            <li><a href="#">Live Training</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <div class="footer_title">
                            Other Links
                            <span></span>
                        </div>
                        <ul>
                            <li><a href="#">Enterprise Solutions</a></li>
                            <li><a href="#">Quality Controls</a></li>
                            <li><a href="#">Development Services</a></li>
                            <li><a href="#">Digital Payments</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-12">
                    <div class="footer_widget">
                        <div class="footer_title">
                            About Us
                            <span></span>
                        </div>
                        <ul>
                            <li><a>Who We Are</a></li>
                            <li><a>Development Services</a></li>
                            <li><a href="#">Our Clients</a></li>
                            <li><a href="#">Get Help</a></li>
                            <li><a>Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-12">
                    <div class="socail_links">
                        <p>Connect with us</p>
                        <ul>
                            <li>
                                <a>
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="payment-meth">
                        <p>Payment Methods</p>
                        <img src="assets/img/icon/Rectangle_38.png" alt="">
                    </div>
                    <div class="apps-store">
                        <p>Download Apps From</p>
                        <div class="d-flex">
                            <a (click)="contact_with()" style="cursor: pointer;" class="mr-10">
                                <img src="assets/img/icon/app-store-logo.png" alt="">
                            </a>
                            <a (click)="contact_with()" style="cursor: pointer;"> 
                                <img src="assets/img/icon/google-play-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-sm-12 copy_right">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Bengal Mobile QA Solution Limited, All
                    right reserved.
                </div>
                <div class="col-xl-6 col-sm-12 text-right">
                    <a>Terms & Conditions</a> <span>|</span> <a>Site Map</a> <span>|</span>
                    <a>Privacy Policy</a> <span>|</span> <a>Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer> -->
<!--/ footer end  -->