
<div  style="width:85%;margin:5% 0 5% 12%">
	<div class="container"  style="" >
		
		<span *ngIf="globalValue.currentBuild=='en'" class="color-weight" style="font-size:22px"> 
			WHY JAGAJAG
		</span>
		<span *ngIf="globalValue.currentBuild=='bn'" class="color-weight" style="font-size:22px"> 
			{{'WhyJagajag.why_jagajag' | translate}}
		</span>
		<br> <br> 
		<span  class="color-weight" style="color:#f49a22;font-size:22px"> 
			{{'WhyJagajag.one_stop_solution_header' | translate}}
		</span> 
		<br> <br> <br>
		<img src="../../../assets/images/plans_pricing/why-jagajag-img.png" class="img-responsive">
	</div>

	<div *ngIf="globalValue.currentBuild=='en'" class="container color-weight" style="margin-top:50px;font-size:17px; line-height: 1.8;">
		Jagajag-is-your-one-stop-online-communications-solution-for-distributed-work--place-teams-and-field-personnel-for-educational-institutions-or-for-families-and-friends
		
	</div>
	<span *ngIf="globalValue.currentBuild=='bn'">
		<div  class="container color-weight" style="margin-top:50px;font-size:17px; line-height: 1.8;">
			{{ 'WhyJagajag.one_stop_solution_text' | translate}}
			
		</div>
	</span>
		
		
	
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						{{ 'WhyJagajag.scalability_header' | translate}}
					</div>
					<div class="card-body card-body-style">
						
						{{ 'WhyJagajag.scalability_text' | translate}}
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						{{ 'WhyJagajag.efficiency_header' | translate}}
						
					</div>
					<div class="card-body card-body-style">
						{{ 'WhyJagajag.efficiency_text' | translate}}
					</div>
				</div>
			</div>
			
			<div *ngIf="globalValue.currentBuild=='bn' && bnEnLanguageCheck =='bn'" class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						সহজলভ্য

						
					</div>
					<div class="card-body card-body-style">
						বাংলাদেশ-এর সার্ভারে হোস্ট করা এই অ্যাপ সহজেই আপনি অ্যাপ স্টোর অথবা আমাদের ওয়েবসাইট থেকে ডাউনলোড করে নিতে পারেন |আর পিসি-তে বড় অ্যাপ্লিকেশন ইন্সটল না করতে চাইলে আপনার ব্রাউজার-এ মিটিং-এর কাজ সারতে পারেন |
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						{{ 'WhyJagajag.one_premise_header' | translate}}
					</div>
					<div class="card-body card-body-style">
						
						{{ 'WhyJagajag.one_premise_text' | translate}}
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						{{ 'WhyJagajag.tech_header' | translate}}
					</div>
					<div class="card-body card-body-style">
						{{ 'WhyJagajag.tech_text' | translate}}
						
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						{{ 'WhyJagajag.one_stop_solution_header2' | translate}}
					</div>
					<div class="card-body card-body-style">
						{{ 'WhyJagajag.one_stop_solution_text2' | translate}}
						
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						
						{{ 'WhyJagajag.integration_header' | translate}}
					</div>
					<div class="card-body card-body-style">
						{{ 'WhyJagajag.integration_text' | translate}}
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card card-style">
					<div class="card-header card-header-style">
						{{ 'WhyJagajag.custom_header' | translate}}
					</div>
					<div class="card-body card-body-style">
						
						{{ 'WhyJagajag.custom_text' | translate}}
	
					</div>
				</div>
			</div>
		</div>
</div>

