.img-responsive {
	width: 100%;
	max-width: 1113px;
	height: auto;
  }
  .color-weight {
	font-weight:bold;
	color:#515c6f;
  }
  
  .card-style{
	border:none;margin-top:30px;font-weight:bold
  }
  .card-header-style{
	padding:0 0 0 0;border:none;background:white;margin:0 0 0 0;font-size:20px;color:#f49a22
  }
  
  .card-body-style {
   padding:25px 0 0 0;font-size:19px;color:#515c6f;font-weight:normal;
   line-height:1.8;
  }