.icon-info {
	position: absolute;
	left: 305px;
	top: 12px;
	font-size: 18px;
	color: #F5C71C;
}

.meeting_information {
	font-family: Poppins;
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.26px;
    text-align: left;
    color: #515c6f;
}
