<!-- support-area  -->
<div class="support_area">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-md-4 col-sm-12 d-flex mb-10">
				<div>
					<img src="assets/img/icon/Customer_Support_Icon.png" class="img-fluid" alt="">
				</div>
				<div class="support-txt border-vr">
					<h1>{{'Support.support_text' | translate}}</h1>
					<h4>{{'Support.service' | translate}}</h4>
				</div>
			</div>
			<div class="col-xl-4 col-md-4 col-sm-12 d-flex mb-10">
				<img src="assets/img/icon/Secure_Payments_Icon.png" class="img-fluid" alt="">
				<div class="support-txt border-vr">
					<h1>{{'Support.secure_payment' | translate}}</h1>
					<h4>{{'Support.ssl_wire' | translate}}</h4>
				</div>
			</div>
			<div class="col-xl-4 col-md-4 col-sm-12 d-flex mb-10">
				<img src="assets/img/icon/Device_Compatible_Icon.png" class="img-fluid" alt="">
				<div class="support-txt">
					<h1>{{'Support.device' | translate}}</h1>
					<h4>{{'Support.web_mobile' | translate}}</h4>
				</div>
			</div>
			<!-- <div class="col-xl-4 col-md-4 col-sm-12 d-flex mb-10">
				<div class="btn btn-success" (click)="procedPayment()">
					PAY NOW
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- /support-area  -->
