<div class="container">
	<div class="page-title">
		<h1>Our Solutions</h1>
		<h2>E learning - learn together</h2>
	</div>
	<div class="page-banner mt-40">
		<img src="../../assets/img/banner/banner_solution.png" alt="">
	</div>
	<div id="accordion">
		<div class="btn-header">
			<a class="btn btn-link" data-toggle="collapse" href="#Overview" aria-expanded="true" aria-controls="collapseOne">
				Overview
			</a>
			<a class="btn btn-link collapsed" data-toggle="collapse" href="#Features" aria-expanded="false" aria-controls="collapseTwo">
				Features
			</a>		
			<a class="btn btn-link collapsed" data-toggle="collapse" href="#PricingPackage" aria-expanded="false" aria-controls="collapseTwo">
				Pricing Package
			</a>
			<a class="btn btn-link collapsed" data-toggle="collapse" href="#CompareProducts" aria-expanded="false" aria-controls="collapseTwo">
				Compare Products
			</a>
		</div>	
		<div id="Overview" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="page-content">
				<div class="row">
					<div class="col-xl-10">
						<h3>Overview</h3>
					</div>
					<div class="col-xl-2">
						<button class="btn btn-info ml-20">Please Visit Us</button>
					</div>
					<div class="col-xl-12 mb-40 mt-20">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
						took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<div class="col-xl-6">
						<h4>Customers</h4>
						<p>Academic</p>
						<h4>Deployment</h4>
						<p>Desktop ApplicationSelf-Hosted<br/> 
						Cloud-basedSelf-Hosted<br/>
						System Software as a Service / Cloud</p>						
						<h4>Browsers</h4>
						<p>Google, Mozilla Firefox, Cometbird & Internet Explorer</p>
					</div>
					<div class="col-xl-6">
						<h4>Training</h4>
						<p>Documentation, Online Tutorials</p>
						<h4>Platform</h4>
						<p>Windows, Mac, Android</p>
						<h4>Support</h4>
						<p>Business Hours</p>
					</div>
				</div>
			</div>
		</div>
		<div id="Features" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="page-content">
				<h3>Features</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
					took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="row mt-40">
					<div class="col-xl-6">
						<h4>Advanced Features</h4>
						<p>On-demand web casting Recording & Playback Third-Party Recording Tools</p>
						<h4>Conference Management</h4>
						<p>Meeting Initiation & Joining Meeting Management Company Accounts Private Rooms</p>						
						<h4>Basic Features</h4>
						<p>Audio & Video Recording Video Conferencing Audio Calls Video Conferencing Video Streaming</p>
					</div>
					<div class="col-xl-6">
						<h4>Customization</h4>
						<p>Mobile Integration Social Media Integration Website Integration Enterprise Scalability Customizable Templates</p>
						<h4>Interactive Features</h4>
						<p>Instant Messaging Private Text Chat</p>
						<h4>Pre-Meeting Tools</h4>
						<p>Event Calendar Scheduling Registration Mangement</p>
					</div>
				</div>
			</div>
		</div>
		<div id="PricingPackage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="page-content">
				<h3>Pricing Package</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
					took a galley of type and scrambled it to make a type specimen book.</p>
						
				<!-- Section: Pricing table -->
				<section class="pricing-table d-flex align-items-center">
					<div class="container">
						<div class="row">
							<!-- Free Tier -->
							<div class="col-lg-4">
								<div class="card mb-5 mb-lg-0">
									<div class="card-body">
										<img src="../../assets/img/icon/pricing_01.png" class="w-100" alt="">
										<h5 class="card-title text-uppercase text-center">Personal</h5>
										<h6 class="card-price text-center">Tk 450<span class="term">/month</span></h6>
										<hr class="my-4">
										<div class="col text-center">
											<button class="btn btn-info w-100">Buy Now</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Plus Tier -->
							<div class="col-lg-4 tier-highlight">
								<div class="card mb-5 mb-lg-0">
									<div class="card-body">
										<img src="../../assets/img/icon/pricing_02.png" class="w-100" alt="">										
										<h5 class="card-title text-uppercase text-center">Team</h5>
										<div class="card-txt text-center">
											<p>1 School</p>
											<p>Unlimited Storage</p>
											<p>No free Visit</p>
										</div>										
										<h6 class="card-price text-center">Tk 750<span class="term">/month</span></h6>
										<hr class="my-4">
										<div class="col text-center">
											<button class="btn btn-info w-100">Buy Now</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Pro Tier -->
							<div class="col-lg-4">
								<div class="card">
									<div class="card-body">
										<img src="../../assets/img/icon/pricing_03.png" class="w-100" alt="">
										<h5 class="card-title text-uppercase text-center">Corporate</h5>
										<h6 class="card-price text-center">Tk 1250<span class="term">/month</span></h6>
										<hr class="my-4">
										<div class="col text-center">
											<button class="btn btn-info w-100">Buy Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</section>
				<!-- Section: Pricing table -->
			</div>
		</div>
		<div id="CompareProducts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			<div class="page-content">
				<h3>Compare Products</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
					took a galley of type and scrambled it to make a type specimen book.</p>				
			</div>
		</div>
	</div>
</div>
