.heading{
	font-size: 22px;
    color: #F49A22;
	font-weight: 700;
	padding-bottom: 2%;
}

.app_name_heading{
	font-size: 20px;
    color: #F49A22;
    font-weight: 700;
}

.item-section{
	padding-bottom: 3%;
}
.text_bold{
	font-weight: 500;
}