<ngx-spinner bdColor="{{spinnerBGColor}}" size="medium" color="#f49823" type="{{spinnerType}}" [fullScreen]="true">
  <p style="color: white"> {{spinnerText}} </p>
</ngx-spinner>

<div id="playbackNavBar" [class.boundsLight]="lightTheme">

  <div *ngIf="files && files.length > 0">
    <mat-sidenav-container class="sidenav-container" id="room-container" [class.boundsLight]="lightTheme" fullscreen
      style="position: absolute;">  
      <!-- [style.display]="!localUser.streamManager?.stream?.videoActive ? 'none' : 'block'" -->
      <mat-sidenav-content class="sidenav-main">
        <div id="layout" class="bounds" [class.boundsLight]="lightTheme" style="padding-top: 10px;height: auto; overflow: auto; bottom: 0px; top:0px;">
          <div class="playback-topbar">
            <span>{{Name}} Recording Playback</span>
          </div>
          <div class="OT_root OT_publisher custom-class" id="localUser" *ngFor="let recordingFile of files" style="display: inline-block;">
            <!-- Only webcam video will be shown if webcamera is available -->\            
              <video controls autoplay width="350" height="" (toggleVideoSizeClicked)="onToggleVideoSize($event)">
                  <source [src]="recordingFile" type="video/webm">
              </video> 
              <!-- <span>{{recordingFile.user}}</span>           -->
          </div>
          <!-- [style.display]="!user.streamManager?.stream?.videoActive ? 'block' : 'block'" -->
          <!-- <div *ngFor="let user of remoteUsers" class="OT_root OT_publisher custom-class" id="remoteUsers">
            <stream-component [user]="user" [videoSizeBig]="user.videoSizeBig"
              (toggleVideoSizeClicked)="onToggleVideoSize($event)"></stream-component>
            <!-- <div [style.display]="!user.streamManager?.stream?.videoActive ? 'block' : 'none'" ><img src="../../assets/images/default_profile icon.png" alt=""></div> -->
          <!-- </div>  -->
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
