hr.hrule {
    border-top: 1px solid #ffba09 !important;
    width: 79.7vw;
    margin-left: 40px;
  }

//   .box-container{
//       font-family: 'PoplinsBold';
//   }

.room-header{
    font-family: "MontserratBold";
}

.room-name{
    font-family: "PoplinsBold";
}
.host-name{
    font-family: "PoplinsRegular";
}